<div style="width: 50%">
	<div class="input-group">
	  <span class="input-group-addon" >Order</span>
	  <input id="orderCtrlf" type="text" class="form-control" placeholder="Order" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
	  <span class="input-group-addon" >Activity</span>
	  <input id="nameCtrlf" type="text" class="form-control" placeholder="Activity" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
	  <span class="input-group-addon" >Description</span>
	  <input id="descCtrlf" type="text" class="form-control" placeholder="Description" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
	  <span class="input-group-addon" >Frequency</span>
	  <input id="freqCtrlf" type="text" class="form-control" placeholder="Frequency" aria-describedby="basic-addon1">
	</div>
	<div class="input-group">
	  <span class="input-group-addon" >Spend</span>
	  <input id="spendCtrlf" type="text" class="form-control" placeholder="Spend" aria-describedby="basic-addon1">
	</div>
</div>
<div style="text-align: center; width: 50%">
	<button class="btn" (click)="clickme()">Submit</button>
</div>